.profile {
  height: 400px;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #d45c00;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
}

.profile h2 {
  color: white;
}

.pic {
  margin-top: 1em;
}
