nav {
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: 1.5em;
}

.fixed-nav-bar {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  width: 100%
}

nav .header {
  font-family: "Bungee", sans-serif;
  font-size: 40px;
  margin-bottom: 1em;
}

nav .cta {
  display: flex;
  margin-right: 10px;
  margin-bottom: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta:hover {

  color: black;
  
}

nav .actioncall {
  font-family: sans-serif;
  margin-top: 1.5em;
  display: inline;
}
nav i {
  color: red;
  font-size: 1.15em;
}
