.new-tweet {
  width: 100%;
}

.new-tweet button {
  background-color: #4056a2;
  font-family: "Bungee", sans-serif;
  color: #ffffff;
  padding: 2;
  margin-right: 0;
  margin-top: 10px;
}

#tweet-text {
  display: flex;
  background-color: transparent;
  border-bottom: 3px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
}

#tweet-text:focus-visible {
  outline: 0;
}

.new-tweet .counter {
  font-family: "Bungee", sans-serif;
  padding: 2;
  margin: 10px;
}

.submit {
  display: flex;
  justify-content: space-between;
}
