



 .new-tweet button {
  background-color: #4056a2;
  font-family: "Bungee", sans-serif;
  color:#FFFFFF;
  padding: 1px;
  margin-top: 7px;
  
}

#tweet-text {
  display: flex;
  background-color: transparent;
  border-bottom: 3px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
}

.new-tweet .counter {
  font-family: "Bungee", sans-serif;
  padding: 1px;
  margin-top: 7px;
}


.submit {
  display:flex;
  justify-content: space-between;
}