#tweet-container {
  margin: 3em;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
}
article.tweet {
  border-style: solid black;
  border-width: 2px;
  border: 3px solid black;
  width: 100%;
}

article.tweet:hover {
  box-shadow: 5px 3px #888888;
}
.user-header {
  display: flex;
  justify-content: space-between;
}
.user-header .avatar {
  padding: 10px;
}

.friend-handle {
  padding: 1em;
  opacity: 0.5;
}
.friend-profile {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

article .tweet-text {
  position: relative;
  width: 100;
  font-family: "Source Sans Pro", sans-serif;
  border: 3px solid black;
  padding: 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  word-break: break-all
}

.tweet {
  margin-top: 10px;
  width: 110%;
  margin-bottom: 10px;
  
}

.tweet:hover {
  box-shadow: 1 1 11px rgba(33, 33, 33, 0.2);
}

footer {
  padding-right: 1em;
  padding-left: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 6px;
  margin-top: 1%;
}

footer .icons {
  justify-content: space-around;
}

.fa-heart {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}
.fa-heart:hover {
  color: red;
}

.fa-retweet {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.fa-retweet:hover {
  color: green;
}

.fa-flag:hover {
  color: blue;
}
